body{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
margin: 0;
}
#img-cover{
    background-image: url(images/donation13.jpg);
    background-position: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.text-position{
    text-align: center;
    color: white;
    width: 70%;
    display: block;
    margin: 0 auto;
    position: absolute;
    margin: 10%;
}
h1{
    font-size: 40px;
}
.button{
    background-color: coral;
    margin-top: 10px;
    margin-left: 30px;
    padding: 10px 30px;
    border: 5px solid coral;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.donate-amount{
    margin-left: 15%;
    text-align: center;
    width: 70%;
    height: 100vh;
    justify-content: center;
}
.flex{
    display: flex;
}
.half-wight{
    width: 50%;
    padding: 5%;
}
.select-tk{
    border: 2px solid orange;
}
#color{
    background-color: black;
    height: 250px;
}